fieldset
  legend.radius.secondary.label LANGUAGE
  //.row.collapse
  //  .large-9.small-9.columns
  table#languageTable.display(cellpadding='0', cellspacing='0', border='0', width='100%')
    thead
      tr
        th 
        //th lang_id
        th Language
        //th Notes
