fieldset
  legend.radius.secondary.label MANIFESTATIONS
  //.row.collapse
  //  .large-9.small-9.columns
  //h4
  //  | Manifestation(s) for Work[ #{work.iwork_id} ]
  table#manifestationTable.display(cellpadding='0', cellspacing='0', border='0', width='100%')
    thead
      tr
        th 
        th upload_id
        th manifestation_id
        th iwork_id
        //th union_manifestation_id
        th Type
        th Either: Repository
        th and Shelfmark
        th Or: Printed edition details
        th Notes
        //th image_filenames