script(type='text/javascript', language='javascript', charset='utf-8', src='/DataTables/media/js/jquery.dataTables.js')
script(type='text/javascript', language='javascript', src='/DataTables/examples/resources/foundation/dataTables.foundation.js')
script(type='text/javascript', language='javascript', charset='utf-8', src='/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js')
script(type='text/javascript', language='javascript', charset='utf-8', src='/DataTables/extensions/Editor-1.3.0/js/dataTables.editor.js')
script(src='/javascripts/emloinit.js')
script(src='/javascripts/emlotables.js')
