//- includes/head.jade
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title= title
  link(rel='stylesheet',type='text/css',  href='/f5/css/normalize.css')
  link(rel='stylesheet',type='text/css',  href='/f5/css/foundation.css')
  link(rel='stylesheet',type='text/css',  href='/DataTables/examples/resources/foundation/dataTables.foundation.css')
  link(rel="stylesheet",type='text/css',  href="/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css" )
  link(rel="stylesheet",type='text/css',href="/font-awesome-4.4.0/css/font-awesome.min.css")

  //link(rel="icon", type="image/png", href="/images/emlo/CofK_Favicon.ico")
  //script(src='/f5/js/vendor/custom.modernizr.js')

  include head2data.jade

  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')


