doctype html
html
  include includes/head.jade
  block head

  body(class="#{slug}")
    include includes/navbar
    .row.collapse
      .large-12.small-12.columns
    block content
    block headjs
    include includes/foot.jade

