extends layout

block headjs
	script(type="text/javascript").
		var fullname = "#{name}", email = "#{email}", username = "#{username}", userID   = "#{userID}";

block content

	#uploadTableDiv
		h3 EMLO-Collect Dataset Overview Page
		p
			b To create a new dataset:
			|  click ‘New’; complete ‘Name of dataset’ and ‘Source of data’ fields as prompted; click ‘Create’.
			br
			b To add records to an existing dataset:
			|  click the 'Edit' button at left of relevant dataset row.
			br
			b To rename a dataset:
			|  click dataset name to select row; click 'Rename dataset'; complete as required; click ‘Update’.
			br
			b To delete datasets:
			|  click dataset name to select row; hold down shift or ctrl to select additional rows; click 'Delete' button; click the second 'Delete’ button to confirm.

table#uploadTable
			thead
				th Edit
				th Dataset
				th Source of data
				th Status
				th Total works
			tbody

block footjs
	script(src='/javascripts/upload.js')
