extends layout

block headjs
	script(type="text/javascript").
		var fullname = "#{name}", email = "#{email}", username = "#{username}", userID   = "#{userID}";

block content

	#uploadTableDiv
		h3 EMLO-Collect Dataset Overview Page
		p
			b To create new dataset file:
			|  click ‘New’; complete ‘Name of dataset’ and ‘Source of data’ fields as prompted; click ‘Create’.
			br
			b To add records to existing dataset file:
			|  click 'Edit' at left of relevant dataset row.
			br
			b To rename dataset or delete dataset file:
			|  click dataset name to select row; click either 'Rename dataset' or 'Delete' button; complete as required; click either ‘Update’ or ‘Delete’.

		table#uploadTable
			thead
				th Edit
				th Dataset
				th Source of data
				th Status
				th Total works
			tbody

block footjs
	script(src='/javascripts/upload.js')
