extends ../layout

block head
  title= title
  link(rel='stylesheet', href='/stylesheets/admin/datatables.css')
block content
  h1= title
  p Upload administration

  #uploadTableDiv
    table#uploadTable
      thead
        th Upload name
        th Uploader username
        th Upload status
        th Total works
        th Works accepted
        th Works rejected
        th Uploader email
        th Upload description
        th Upload timestamp
        th Edit / Delete
        th header
      tbody
  // /USER DATATABLE
block footjs
  //script(src='/javascripts/jquery.js')
  script(src='/javascripts/admin/upload.js')
