body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.DTTT { margin-bottom: 0.5em; float: right; }
div.dataTables_wrapper { clear: both; }

a {
  color: #00B7FF;
}


legend.radius {

font-size: 20px !important;
}

div#manifestationTable_info {

font-size: 16px;
}


a.DTTT_button {

font-size: 16px !important

}


div.DTED_Lightbox_Content {
position:absolute !important;
top:100px !important;
width:600px !important;

}

#buttonbar .back,
#buttonbar .print,
#workTableDiv .delete,
#workTableDiv .export {
    margin-right: 20px;
}

.DTTT_container {
    margin-top: 20px;
}

thead tr:first-child th {
    font-size: large;
    /*border-left: 1px solid black;*/
}

colgroup.highlight {
    border-right: 2px dotted black;
}
colgroup.highlight.first {
    border-left: 2px dotted black;
}

table.dataTable {
    border-collapse: collapse !important;
}

th .colname {
    /* hide more specific names from view - they are only useful on export */
    display: none;
}

/*
button.DTTT_button, div.DTTT_button, a.DTTT_button {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    padding: 5px 8px;
    border: 1px solid #999;
    cursor: pointer;
    font-size: 0.88em;
    color: #000 !important;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #CCC;
    background: transparent -moz-linear-gradient(center top , #FFF 0%, #F3F3F3 89%, #F9F9F9 100%) repeat scroll 0% 0%;

button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
    border: 1px solid #666;
    text-decoration: none !important;
    box-shadow: 1px 1px 3px #999;
    background: transparent -moz-linear-gradient(center top , #F3F3F3 0%, #E2E2E2 89%, #F4F4F4 100%) repeat scroll 0% 0%;
}
*/
button.DTTT_disabled, div.DTTT_disabled, a.DTTT_disabled {
    color:#999 !important;
}

button.DTTT_disabled:hover, div.DTTT_disabled:hover, a.DTTT_disabled:hover {
    box-shadow: 1px 1px 3px #ccc;
    cursor: pointer !important;
    border: 1px solid #D0D0D0;
    background: transparent -moz-linear-gradient(center top , #FFF 0%, #F9F9F9 89%, #FAFAFA 100%) repeat scroll 0% 0%;
}

input.show-columns {
    margin-left: 5px;
}

table.dataTable {
    margin-top: 120px;
}

div.DTTT_container {
    position: fixed;
    margin-top: -54px;
    padding: 10px;
    background-color: white;
}

#buttonbar {
    z-index: 10;
    position: fixed;
    background-color: white;
    padding: 10px;
}

p.dataset-name {
    margin-top: 150px;
}


@media print {
    @page {
        size:auto;
        margin: 15mm 10mm;
    }
    body {
        margin: 0;
        padding: 0;
    }
    table {
        border: 2px solid black;
    }
    tr {
        border : 1px solid #444;
    }
    #navbar { display:none }
    #buttonbar { display:none }

    .f-topbar-fixed {
        padding-top: 0;
    }

    p.dataset-name {
        margin-top: 15px;
    }
}