body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


legend.radius {

font-size: 20px !important;
}

div#manifestationTable_info {

font-size: 16px;
}


a.DTTT_button {

font-size: 16px !important

}


div.DTED_Lightbox_Content {
position:absolute !important;
top:100px !important;
width:600px !important;

}

#workTableDiv #ToolTables_workTable_0 {
    margin-right: 20px;
}

.DTTT_container {
    margin-top: 20px;
}

thead tr:first-child th {
    font-size: large;
    /*border-left: 1px solid black;*/
}

colgroup.highlight {
    border-right: 2px dotted black;
}
colgroup.highlight.first {
    border-left: 2px dotted black;
}

table.dataTable {
    border-collapse: collapse !important;
}