.row.collapse
    label(for='mentioned') Person mentioned
    .large-10.small-10.columns
      input#mentioned.searchp(type='text', name='mentioned',placeholder='Search EMLO - Person mentioned')
    .large-2.small-2.columns
      a#mentioned_add.pers_editor_create.button.postfix(href='#') Add New
    table#people_mentioned.display(cellspacing='0', width='100%')
      thead
        tr
          th Names of people mentioned
          th mentioned_person_ids
          th mentioned_ids
          th mentioned_uids
          th 
      tbody
         for item, i in work.people_mentioned
          include dtab_person
.row.collapse
    label(for='notes_on_mentioned') Notes
    textarea#notes_on_mentioned(name='notes_on_people_mentioned',placeholder='Notes on people mentioned (for public display)') #{work.notes_on_people_mentioned}
