fieldset
  legend.radius.secondary.label.saveform PLACES
  .large-4.columns
    include origin_edit
  .large-4.columns
    include destination_edit
  .large-4.columns
    include place_mentioned_edit
    //input.button.small.saveform(type='submit', id="saveform1" , value='#{buttonText}')
  