fieldset
  legend.radius.secondary.label RELATED RESOURCES
  //.row.collapse
  //  .large-9.small-9.columns
  table#resourceTable.display(cellpadding='0', cellspacing='0', border='0', width='100%')
    thead
      tr
        th 
        //th id
        th Name
        th Details
        th URL
